a{
    color: black;
}
.bg-green{
    background-color: #2c4e18;
}
.bg-love-it{
    background-color: #9aad8d;
}
.bg-like-it{
    background-color: #dbd44d;
}
.bg-hate-it{
    background-color: #883737;
    color: white;
}
.bg-color-one{
    background-color: #9aad8d;
}
.bg-color-two{
    background-color: #e7dab4;
}
.bg-button{
    background-color: #475a5a;
    color: #fff;
}
.bg-button-two{
    background-color: #a46c3c;
    
}
.bg-brown{
    background-color: #7a6645;
}
.red-a{
    color: white;
}
.comment{
    width: 90%;
}
.form-a{
    color: #2c4e18;
}