.bg-green{
    background-color: #2c4e18;
}
.bg-love-it{
    background-color: #d0ff88;
}
.bg-like-it{
    background-color: #ffd760;
}
.bg-hate-it{
    background-color: #ffb1b1;
}
.bg-color-one{
    background-color: #9aad8d;
}
.bg-color-two{
    background-color: #e7dab4;
}
.bg-button{
    background-color: #475a5a;
    color: #fff;
}
.bg-button-two{
    background-color: #a46c3c;
    
}
.bg-brown{
    background-color: #7a6645;
}